.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    background: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
} 
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
font-size: 60px;
font-weight: 700;
}
.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}
.section-3{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.card-section{
    display: flex;
    margin: 80px;
    padding-left: 20px;
}

.section-bilbord{
    background-color: #3838e4;
    display: flex;
    color: #ffffff;
    margin: 30px;
    padding: 50px;
}
.btn-primary-location{
margin-left: 300px;
margin-top: 50px;

}
.section-4{
   margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.card-pic-name{
    display: flex;
    margin: 30px;
    padding: 30px;
}
.card{
    margin: 5px;
}
.FQE-section{
    margin: 150px;
}
#companies{
    text-align: center;
}
.companies-pic-section{
    display: flex;
    margin: 20px;
    padding: 20px;
}
.companies-pic{
    margin: 20px;
}
footer{
    background-color: rgb(14, 13, 13);
    color: #ffffff;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
